# IntelliJ
.idea/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.metadata/

AI_GUIDE.md

#Anti
.agents/

/files/


backups/

backend/.env
backend/src/main/resources/application.properties
.env
docker-compose.yml

uploads/